In [9]:
import pandas as pd

train = pd.read_csv("../data/Kerala-Rainfall-Historical.csv")
train.head(117)

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,JF,MAM,JJAS,OND
0,Kerala,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,73.4,386.2,2122.8,666.1
1,Kerala,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,9.3,275.7,2403.4,638.2
2,Kerala,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,21.7,336.3,2343.0,570.1
3,Kerala,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,26.7,339.4,2398.2,365.3
4,Kerala,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,23.4,378.5,1881.5,458.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,Kerala,2013,3.9,40.1,49.9,49.3,119.3,1042.7,830.2,369.7,318.6,259.9,154.9,17.0,3255.4,43.9,218.5,2561.2,431.8
113,Kerala,2014,4.6,10.3,17.9,95.7,251.0,454.4,677.8,733.9,298.8,355.5,99.5,47.2,3046.4,14.9,364.5,2164.8,502.1
114,Kerala,2015,3.1,5.8,50.1,214.1,201.8,563.6,406.0,252.2,292.9,308.1,223.6,79.4,2600.6,8.9,465.9,1514.7,611.1
115,Kerala,2016,3.0,16.4,22.4,33.3,258.4,595.7,441.5,231.0,84.1,105.1,57.9,22.0,1870.9,19.3,314.2,1352.3,185.0
116,Kerala,2017,12.7,0.3,87.8,52.8,213.3,579.8,378.5,462.6,435.5,228.0,152.1,61.4,2664.9,13.0,353.9,1856.5,441.5

In [12]:
import pandas as pd
train = pd.read_csv("../data/IndianWeatherRepository.csv")
train.head(572)

,country,location_name,region,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,India,Ashoknagar,Madhya Pradesh,24.57,77.72,Asia/Kolkata,1693286100,2023-08-29 10:45,27.5,81.5,...,12.6,18.5,1,2,05:59 AM,06:41 PM,05:42 PM,03:38 AM,Waxing Gibbous,93
1,India,Raisen,Madhya Pradesh,23.33,77.80,Asia/Kolkata,1693286100,2023-08-29 10:45,27.5,81.5,...,10.7,14.2,1,1,06:00 AM,06:40 PM,05:39 PM,03:41 AM,Waxing Gibbous,93
2,India,Chhindwara,Madhya Pradesh,22.07,78.93,Asia/Kolkata,1693286100,2023-08-29 10:45,26.3,79.3,...,16.8,20.7,2,2,05:56 AM,06:34 PM,05:32 PM,03:39 AM,Waxing Gibbous,93
3,India,Betul,Madhya Pradesh,21.86,77.93,Asia/Kolkata,1693286100,2023-08-29 10:45,25.6,78.1,...,4.9,6.6,1,1,06:00 AM,06:38 PM,05:36 PM,03:43 AM,Waxing Gibbous,93
4,India,Hoshangabad,Madhya Pradesh,22.75,77.72,Asia/Kolkata,1693286100,2023-08-29 10:45,27.2,81.0,...,11.4,14.8,1,1,06:01 AM,06:39 PM,05:38 PM,03:42 AM,Waxing Gibbous,93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,India,Siang,Chhattisgarh,22.60,83.05,Asia/Kolkata,1693286100,2023-08-29 10:45,29.0,84.2,...,16.1,18.5,2,2,05:40 AM,06:18 PM,05:16 PM,03:20 AM,Waxing Gibbous,93
568,India,Saitual,Mizoram,23.97,92.58,Asia/Kolkata,1693286100,2023-08-29 10:45,28.3,82.9,...,9.5,9.9,1,1,05:00 AM,05:41 PM,04:39 PM,02:37 AM,Waxing Gibbous,93
569,India,Ranipet,Tamil Nadu,12.93,79.33,Asia/Kolkata,1693286100,2023-08-29 10:45,32.2,90.0,...,1.4,3.0,1,1,06:02 AM,06:26 PM,05:14 PM,03:56 AM,Waxing Gibbous,93
570,India,Tenkasi,Tamil Nadu,8.97,77.30,Asia/Kolkata,1693286100,2023-08-29 10:45,31.7,89.1,...,2.9,4.0,1,1,06:12 AM,06:31 PM,05:15 PM,04:12 AM,Waxing Gibbous,93
571,India,Pendra,Maharashtra,21.93,74.15,Asia/Kolkata,1693286100,2023-08-29 10:45,24.8,76.6,...,8.0,10.4,1,1,06:15 AM,06:53 PM,05:51 PM,03:59 AM,Waxing Gibbous,93

In [16]:
import pandas as pd
train = pd.read_csv("../data/weather.csv")
train.head(19287)

,STATION,NAME,DATE,ACMH,ACSH,AWND,FMTM,PGTM,PRCP,SNOW,...,WT11,WT13,WT14,WT15,WT16,WT17,WT18,WT21,WT22,WV01
0,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",1970-01-01,80.0,90.0,NaN,NaN,NaN,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",1970-01-02,30.0,20.0,NaN,NaN,NaN,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",1970-01-03,80.0,100.0,NaN,NaN,NaN,0.02,0.0,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
3,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",1970-01-04,10.0,20.0,NaN,NaN,NaN,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
4,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",1970-01-05,30.0,10.0,NaN,NaN,NaN,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19282,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",2022-10-17,NaN,NaN,9.62,NaN,NaN,0.08,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19283,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",2022-10-18,NaN,NaN,12.08,NaN,NaN,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19284,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",2022-10-19,NaN,NaN,14.99,NaN,NaN,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19285,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",2022-10-20,NaN,NaN,16.78,NaN,10.0,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19286,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",2022-10-21,NaN,NaN,NaN,NaN,NaN,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN